#membercard {
    margin: 5px;
    padding-top: 5px;
    border-style: solid; 
    border-width: 2px; 
    border-radius: 25px; 
    margin-right: 80%;
    padding: 20px;
}
body {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}